if SHIELD_CORNE_DONGLE

config_ZMK_KEYBOARD_NAME="Corne Dongle"
config_ZMK_SPLIT_ROLE_CENTRAL=y
config_ZMK_SPLIT=y
config_ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS=2
config_BT_MAX_CONN=7
config_BT_MAX_PAIRED=7

endif